@page "/CreateSubForums/{ForumId:int}"
@using Contracts
@using Entities
@using Microsoft.AspNetCore.Components
@using UIElements
@inject IForumService forumService;
@inject NavigationManager navMgr;

<AuthorizeView>
    <Authorized>
        <div class="box">
            <h3>Create Sub Forum</h3>
            <EditForm Context="formCtx" Model="@NewSubForumItem" OnValidSubmit="@AddSubForum">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group field">
                    <span>
                        <InputTextArea rows="2" placeholder="Title" @bind-Value="NewSubForumItem.Title"/>
                    </span>
                </div>

                <div class="form-group field">
                    <span>
                        <InputTextArea rows="7" placeholder="Description" @bind-Value="NewSubForumItem.Description"/>
                    </span>
                </div>

                <p class="actions">
                    <button class="acceptbtn" type="submit">Create</button>
                </p>
            </EditForm>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <label> @errorLabel</label>
            }
            @if (showModal) 
            {
                <Modal>
                    <p>Sub Forum Created</p>
                    <button class="btn btn-outline-dark" @onclick="Proceed">OK</button>
                </Modal>
            }
        </div> 
    </Authorized>
    <NotAuthorized>
        <NotLoggedIn>
            <p>You need to be logged in to create a sub forum.</p>
        </NotLoggedIn>

    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int ForumId { get; set; }
    private SubForum NewSubForumItem = new SubForum();
    private string errorLabel = string.Empty;
    private bool showModal;

    private async Task AddSubForum() 
    {
        try 
        {
            await forumService.AddSubForumAsync(NewSubForumItem, ForumId);
            showModal = true;
            NewSubForumItem = new SubForum();
        }
        catch (Exception e) 
        {
            errorLabel = e.Message;
        }
    }

    private void Proceed() 
    {
        showModal = false;
        navMgr.NavigateTo($"/SubForums/{ForumId}");
    }
}