@page "/Posts/{ForumId:int}/{SubForumId:int}"
@using Entities
@using Contracts
@inject IForumService forumService
@inject NavigationManager navMgr

@if (SubForumToOpen == null) 
{
    <p>
        <em>Loading...</em>
    </p>
}
else 
{
    <AuthorizeView>
        <Authorized>
            <button class="btn-outline-primary" @onclick="() => OpenCreatePost()">Create Post</button>
        </Authorized>
    </AuthorizeView>

    if (!SubForumToOpen.Posts.Any()) 
    {
        <p>
            <em>This sub forum doesn't have any post</em>
        </p>
    }
    else 
    {
        @foreach (Post post in SubForumToOpen.Posts) 
        {
            <div class="container">
                <div class="row g-3 mt-5 mb-5">
                    <div class="col-md-9" @onclick="@(() => OpenPost(post))">
                        <div class="card body">
                            <div class="card-body">
                                <h4 class="card-title text-dark mt-2">@post.Header</h4>
                                <p class="card-text">@DescriptionToDisplay(post).</p>
                                <small>Click to read more...</small>
                                <div class="mt-4 about d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

@code {
    private SubForum? SubForumToOpen;

    [Parameter]
    public int ForumId { get; set; }

    [Parameter]
    public int SubForumId { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        SubForumToOpen = await forumService.GetSubForumAsync(ForumId, SubForumId);
    }

    private async Task OpenPost(Post post) 
    {
        navMgr.NavigateTo($"/ViewPost/{ForumId}/{SubForumId}/{post.Id}");
    }

    private string DescriptionToDisplay(Post post) 
    {
        if (post.Body.Length <= 200) 
        {
            return post.Body;
        }
        return post.Body.Substring(0, 200);
    }

    private void OpenCreatePost() 
    {
        navMgr.NavigateTo($"/CreatePost/{ForumId}/{SubForumId}");
    }
}