.entirePage {
    margin: 10px;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    width: 70%;
    margin-bottom: 50px
}

.card {
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    width: 400px;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border-color: #4B0082;
    height: 150px;
}

.card:hover {
    background-color: #DCDCDC;
}

