body {
    background-color: #EEE;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border-color: #4B0082;
}

.form-control {
    border-radius: 26px
}

.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #A09C9C
}

.body {
    border:slategray solid;
}