@page "/ViewPost/{ForumId:int}/{SubForumId:int}/{PostId:int}"
@using Entities
@using Contracts
@inject IForumService forumService; 
@inject NavigationManager navMgr

@if (postToOpen == null) 
{
    <p>
        <em>Loading...</em>
    </p>
}
else 
{
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-9">
                <div class="card body">
                    <div class="p-2">
                        <p class="text-justify">@postToOpen.Body</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private Post? postToOpen;

    [Parameter]
    public int ForumId { get; set; }

    [Parameter]
    public int SubForumId { get; set; }

    [Parameter]
    public int PostId { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        postToOpen = await forumService.GetPostAsync(ForumId, SubForumId, PostId);
    }
}