@page "/Register"
@using Contracts
@inject IUserService userService;
@inject NavigationManager navMgr;

<body>
<main>
    <div class="row">
        <div class="colm-form">
            <div class="form-container">
                <h3> Register </h3>
                <input type="text" placeholder="Username" @bind="username">
                <input type="password" placeholder="Password" @bind="password">

                @if (!string.IsNullOrEmpty(errorLabel))
                {
                    <div class="field">
                        <label style="color: red"></label>
                        @errorLabel
                    </div>
                }

                <button class="btn-new" @onclick="CreateUserAsync">Register</button>
                <p>Already have an account?</p>
                <button class="btn-login" @onclick="LoginAsync">Login</button>
            </div>
        </div>
    </div>
</main>
</body>

@code {
    private string username;
    private string password;
    private string errorLabel;

    private async Task CreateUserAsync() 
    {
        errorLabel = string.Empty;
        try 
        {
            await userService.RegisterUserAsync(username, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e) 
        {
            errorLabel = $"Error : {e.Message}";
        }
    }

    private async Task LoginAsync() 
    {
        navMgr.NavigateTo("/Login");
    }
}